body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Oswald", sans-serif;
}

.indexBackgroundImg {
  background-image: url(../images/computer2.jpg);
  background-size: 100%; 
}

.aboutBackgroundImg {
  background-image: url(../images/stars.jpg);
  background-size: 100%;
}

.portfolioBackgroundImg {
  background-image: url(../images/lightbulbs.jpg);
  background-size: 100%;
}

.contactBackgroundImg {
  background-image: url(../images/computer3.jpg);
  background-size: 100%;
}

.portfolioText {
  background-color: black;
  color: white;
  opacity: 0.9;
  padding:1%;
  border-radius: 20px;
}

.transboxHome {
margin-top: 100px;
margin-bottom: 200px;
background-color: black;
color: white;
opacity: 0.6;
border-radius: 20px;
}

.transboxAbout {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 200px;
  opacity: 0.9;
  border-radius: 25px;
  background-color: black;
  color: white;
  padding:2%;
}

.transboxPortfolio {
  margin-top: 100px;
  margin-bottom: 150px;
}

.transboxContact {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  background-color: black;
  color: white;
  opacity: 0.9;
  border-radius: 25px;
}

.col-md-9 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
}

.col-md-12 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
}

.fab {
  font-size: 25px;
  font-weight: 900;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.fab:hover {
  opacity: 0.9;
}


.titleText {
  color:white;
}

#headerCenter {
  text-align: center;
}

#prof-pic {
  height: 250px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

#peckish-pic {
  width: 275px;
  margin-top: 15px;
  border-radius: 15px;
}

#audiophyle-pic,
#burger-pic,
#assist-pic {
  width: 275px;
  height: 90px;
  margin-top: 15px;
  border-radius: 15px;
}

#fitnesstracker-pic,
#teamprofilegenerator-pic {
  width: 200px;
  height: 100px;
  margin-top: 15px;
  border-radius: 15px;
}
#linkedinBtn, #githubBtn {
  justify-content: center;
  align-items: center;
}

#assistText {
  color:white;
}

#assistText:hover {
  opacity: 0.5;
  text-decoration: none;
}


#homeText {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #00FFFF, blue 50%, white 50%);
  /* background: linear-gradient(to right, #00CED1, blue 50%, white 50%); */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 700ms ease;
  text-decoration: none;
}

#homeText:hover {
    background-position: 0 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
