img {
    margin: auto;
    padding: 10px;
}
body {
    background-image: url(../images/gplaypattern.png);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: grey;
    margin-top: 200px;
}

.navbar-brand {
    background: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px;
}

/* Added id to change font color from black to white for "Bridget Shannon" on all pages  */
 #navbar-brand {
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 40px;
     padding: 20px;
 }

.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Added class to photo on About page to wrap text */
.text-wrap {
    float: left;
}
