img {
    margin: auto;
    padding: 10px;
}
body {
    background-image: url(../images/gplaypattern.png);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: grey;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 20px;
    margin-top: 17%;
    color: white;
     /* Added border-top to get teal line at the top of footer */
    border-top: 10px solid teal;
}

.col-md-9 {
    padding: 40px;
}

.col-md-6 {
    padding-top: 10px;
}

.footer-2 {
    background-color: grey;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 20px;
    margin-top: 0%;
    color: white;
     /* Added border-top to get teal line at the top of footer */
    border-top: 10px solid teal;
}

.footer-3 {
    background-color: grey;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 20px;
    margin-top: 16%;
    color: white;
     /* Added border-top to get teal line at the top of footer */
    border-top: 10px solid teal;
}

.navbar-brand {
    background: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px;
}

/* Added id to change font color from black to white for "Bridget Shannon" on all pages  */
 #navbar-brand {
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 40px;
     padding: 20px;
 }

.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Added class to photo on About page to wrap text */
.text-wrap {
    float: left;
}

#prof-pic {
    height: 80%;
    width: 30%;
}

#portfolio-pix {
    margin: auto;
    padding: 10px;
    float: left;
}


/*
  These rules take effect when the browser's width
  is either 768px or less.

@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 
    body {
      background-color: #333;
    }
    /* The wrapper's width will be 600px
    .wrapper {
      width: 600px;
    }
    /* 